.video__item {
	margin-top: 0.8em;	
	padding-top: 0.8em;
	border-top: 1px solid #eee;
	
	&:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}

	.video__title {
		margin-bottom: 0;
	}
	.video__date {
	    margin: 0;
	    font-size: 1em;
	    font-weight: bold;
	}
	.video__caption {
		font-size: 0.8em;
		line-height: 1.2;
		font-family: $sans-serif;
		font-weight: 400;
		color: #888;
	}
	.video__location {
		margin: 0 0 0.2em 0;
		font-size: 0.9em;
		color: #888;
	}
	.u-Video {
		margin: 0;
	}
}